$ColorSection_team: #D5F5F9;
$ColorTitle: #00659D;
$ColorText:#00659D;
.titulo_Team{
    color: $ColorTitle !important;
}
.text_Team{
    color: $ColorText !important;
    font-size: 1.4em;
}

.backgroundColor_Team{
    background: $ColorSection_team;
  }
  
.fillColor_Team{
    fill: $ColorSection_team;
}

.img_Team{
    width: 100% !important;
}

@media (max-width: 992px) {
    .img_Team {
       width:55% !important;
       margin-bottom: 3%;
    }
  }