.imageProject{
    width: 100%;
    border-radius: 25px;
}

.aboutUs{
    background-color: white;
}

.bg-digital {
    background-color: #a6e8ef !important;
  }

  .bg-otro {
    background-color: #fc8890 !important;
  }