$ColorFondo: #f8f9fa;

.aclick {
    cursor: pointer;
}

.color-nav {
    background-color: $ColorFondo  !important;
    box-shadow: none;
}

@media (min-width: 990px) {
    .cambio-nav {
        padding-right: 60px;
    }
}